.title.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    flex-wrap: wrap;
}

.searchCss input {
    width: 19rem;
}

.title h2 {
    width: 50%;
}

@media (max-width: 700px){
    .title h2 {
        width: 100%;
        padding: 20px !important;
    }
    .searchCss {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block-end: 20px;
    }
    .title.search {
        min-width: 416px;
    }
}