.backgroundFooter {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: rgba(34, 32, 32, 0.816);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.backgroundFooter div p {
    text-align: left;
    color: var(--color-head-text);
}

.backgroundFooter div img {
    width: 60%;
    height: 40%;
}

.backgroundFooter .imgFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.paragrafo {
    width: 20%;
}
